cache
libraries
logs
*.jar
.paper-remapped
bstats
spark
versions
backup
data
world
world_nether
world_the_end
banned-ips.json
banned-players.json
ops.json
permissions.yml
usercache.json
version_history.json
whitelist.json
settings.yml
languages